/[Pp]ackages/*
!/[Pp]ackages/NuGet.CommandLine.*
/[Bb]uild/
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults
.vs/
*.suo
*.user
*.sln.cache
*.sln.docstates
StyleCop.Cache
_ReSharper*
Thumbs.db
*.sln.ide